.search-box{
    position: relative;
    display: flex;
    flex-shrink: initial;
    margin-top: 10px;
   background: #2f3640;
   height: 30px;
   border-radius: 40px;
   box-shadow: 3px 3px rgb(24, 16, 16);
   padding: 10px;
  }
  
  .search-btn{
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-txt{
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 600px;
  }
  
.search-btn:hover{
  transform: scale(0.6);
    transition-duration: 0.5s;
}

@media(max-width:700px){
  .search-box{
    width: 250px;
  }
}
  