.play-list{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    height: 400px;
  }

  .list-item{
    height: 40px;
    width: 600px;
    background: #2f3640;
    padding: 10px;
    margin: 1px;
    display: flex;
    flex-shrink: initial;
    }

.title-txt{
        align-items: flex-start;
      }
      
      .title-txt p{
        margin: 5px;
        margin-left: 10px;
        font-size: 16px;
        color: white;
      }
      
      .title-txt span{
        margin-top: 2px;
        font-size: 12px;
        margin-left: 10px;
        float: left;
      }

      .like-btn{
        float: left;
        background: transparent;
        border: none;
      }
      
      .like-btn i{
       float: left;
      }
      
      
      .like{
        display: flex;
        flex-direction: column;
        float: left;
      }
      
      .like span{
        margin-top: 2px;
        font-size: 12px;
      }

      audio{
        height: 20px;
        width: 250px;
        margin-left: auto;
      }

      .delete{
        margin-right: 20px;
        height: 25px;
        width:auto;
        border: none; 
        display: inline-block;
        position: relative;
      }

      .delete button{
        background: transparent;
        border: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }

      .delete:hover .dropdown-content {
        display: block;
      }

      .dropdown-content button {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }

      .dropdown-content button:hover {
        color: #FFFFFF;
        background-color: rgb(255, 69, 0);
      }
      .play-list::-webkit-scrollbar{
        width: 8px;
      }
      .play-list::-webkit-scrollbar-track{
        background-color: black;
      }
      .play-list::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 25px;
      }

      @media(max-width:700px){
        .list-item{
          width: 250px;
        }
        audio{
          width: 125px;
        }
        .play-list::-webkit-scrollbar{
          width: 5px;
        }
        .title-txt p{
          margin: 0;
          font-size: 12px;
        }
        .delete{
          margin-right: 0;
        }
      }
