.App {
  margin-top: 20px;
  text-align: center;
  background-color:rgb(255, 69, 0);
  height: 500px;
  width: 700px;
  display: flex;
  flex-shrink:initial;
  flex-direction: column;
  align-items: center;
}

@media(max-width:700px){
  .App{
    width: 300px;
  }
}